.date{
  font-size:20px;
 color:yellow;
  background:blue;
  border-radius:10px;
  margin:-65px ;

}


.time{  font-size:10px;
 color:yellow;
  background:blue;
  border-radius:10px;
  float:left;


}

p{
  display:horizontal-align;
  color:yellow;
  font-size:15px;
  background-color:blue;
max-width:419px;
  display:vertical-align;
  margin:9%;
 font-family:cursive;
}

h3{
 display:horizontal-align;
font-size:30px;
font-family: cursive;
  background-color: teal;
  border:2px solid green;
width:419px;
  padding:15px;
  margin:-80px 75px;
  color:yellow;
}


