@import 'reset-css/reset';
@import 'fontawesome/css/font-awesome.css';

.timeline {
  border-left: 4px solid #3639A8;
  margin-left: 20%;
}

.event {
  margin: 5rem 15%;
  background-color:teal;
   position:relative;
}

.event i {
  position:absolute;
  right: 120%;
  top: -1%;
  border:5px solid black;
  border-radius:10px;
  background-color:lime;
}

.left{
  position: absolute;
  right: 130%;

}

h3{
  font-family: cursive;
  border-bottom:2px solid white;
  background: rgb( 0, 128, 113);
  padding: 1rem;
  font-size:20px;



}
p,h3{
color:white;
  padding: 1rem;

}
.time{
  color:blue;
}
